/*
* @Author: Administrator
* @Date:   2015-11-11 21:54:55
* @Last Modified by:   Administrator
* @Last Modified time: 2015-11-15 21:00:46
*/


/* cover bootstrap */

a {
    text-decoration: none!important;
}

.nav-icon {
    padding-top: 2px;
}

.nav-icon a {
    color: white;
}


/* 多个图片大小在这里设置 */

.img-tiny {
    width: 40px;
    height: 40px;
}

.img-sm {
    width: 50px;
    height: 50px;
}

.img-md {
    height: 60px;
    width: 60px;
}

.img-lg {
    width: 80px;
    height: 80px;
}


/* 这里我直接写在 body里了，省一大堆dom, 因为所有的页面底色都为淡灰色 */

body {
    background: #f3f3f3!important;
}

.bg-white {
    background: white;
}


/* config */


/* index filter */

.index-filter {
    background: #919191;
    display: none;
}

.index-filter-title,
.glyphicon {
    color: white;
}

.index-filter-card {
    border-bottom: 1px solid #897D7D;
    padding-bottom: 1rem;
}

.index-filter-card .btn {
    margin-right: 1.5rem;
    min-width: 6rem;
}

.index-filter-confirm {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #897D7D;
}


/* 商城-分类 */

.classify-bar {
    font-size: 1.6rem;
    padding-top: 1rem;
    color: #aaa;
    background: white;
    padding-bottom: 1rem;
}

.classify-bar ul.dropdown {
    z-index: 100;
}

.classify-bar .input-group * {
    background: #ddd;
    border-bottom: none;
}

.classify-bar .input-group button,
.classify-bar .input-group .form-control {
    border: none;
    box-shadow: none;
    font-size: 1.6rem;
    border-bottom: none;
}

.classify-bar .input-group .form-control {
    height: 38px;
}

.classify-bar .input-group-btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 1.6rem;
}

.classify-bar .input-group .caret {
    margin-left: 0.6rem;
}

.classify-bar .classify-bar-cancel {
    padding-left: 0;
    margin-top: 0.7rem;
}

.classify-panel {
    background: #aaa;
}

.classify-panel .btn {
    margin: 1rem;
}

.classify-collection {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ddd;
}

.classify-collection-item {
    color: #776D6D;
    background: #ddd;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
}


/* 我的 */

.my-top {
    background: url('../img/我的/top-bg.png') no-repeat;
    height: 180px;
}

.my-top-avatar {
    text-align: center;
}

.my-top-fans {
    margin-top: 70px;
    color: white;
    font-size: 1.6rem;
}

.my-top-fans-num {
    font-size: 2rem;
}

.my-top-avatar-img {
    max-width: 100%;
    border-radius: 50%;
    margin-top: 40px;
}


/* 我的 九宫格 */

.selector-list {
    padding: 0;
}

.selector-list a {
    display: block;
    color: #4C4949;
}

.selector-list-item {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1.5rem 0 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

.selector-list-item:hover {
    background: #eee;
}

.selector-list-item img {
    width: 46px;
    height: 40px;
    margin-bottom: 0.5rem;
}

.selector-list-item p {
    font-size: 1.6rem;
}


/* 个人账户*/

.countcard {
    height: 80px;
    line-height: 80px;
    font-size: 1.6rem;
    border-bottom: 1px solid #ddd;
}

.countcard .countcard-item-action>div {
    height: 40px;
    line-height: 40px;
}

.countcard>div {
    float: left;
}

.countcard-item-img,
.countcard-item-name {
    width: 20%;
}

.countcard-item-action {
    width: 60%;
    padding-right: 15px;
}

.img img {
    height: 45px;
}

.userAccount-main {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/* 个人信息*/

.userInfo-main {
    border-top: 1px solid #ddd;
}

.userInfo-main .readable {
    letter-spacing: 0.5rem;
}

.userInfo-main .readable-1 {
    letter-spacing: 0.3rem;
}

.card-list-item.with-avatar {
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #ddd;
}

.card-list-item {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}

.card-list-item .title {
    font-size: 1.8rem;
    font-weight: 600;
}

.card-list-item.with-avatar .content {
    height: 90px;
    padding-top: 10px;
}

.card-list-item .content {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ccc;
}

.card-list-item .glyphicon {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.card-list-item .avatar {
    width: 70px;
    height: 70px;
}


/* 传播链*/

.card-list {
    border-top: 1px solid #ddd;
}

.card-list .card-title {
    color: black!important;
}

.card-list .col-xs-9 {
    font-size: 1.6rem;
    color: #aaa;
}

.tc-user {
    border-bottom: 1px solid #ddd;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 80px;
}

.tc-user .avatar-2 {
    height: 50px;
}

.tc-user .username {
    font-size: 2rem;
    font-weight: 600;
}

.tc-user .userid {
    font-size: 1.5rem;
}

.tc-user .glyphicon {
    padding-top: 15px;
    color: #bbb;
}

.tc-fans .col-xs-6 {
    text-align: center;
    border-right: 1px solid #ddd;
    padding-top: 1rem;
    font-size: 1.8rem;
    color: #bbb;
}

.tc-fans .col-xs-6 span {
    margin-bottom: 0.5rem;
}

.tc-icons {
    width: 40px;
    height: 40px;
}

.card-list-item .avatar-2 {
    height: 60px;
    line-height: 60px;
    margin-top: 5px;
}

.card-list-item .col-xs-7 {
    font-size: 1.6rem;
    color: black;
}


/* 查看下游 */

.card-group {
    margin-bottom: 1rem;
}

.card-group-item {
    border-bottom: 1px solid #ddd;
}

.card-group .col-xs-7,
.card-group .col-xs-2 {
    padding-left: 0;
}

.card-group-title {
    font-size: 2rem;
}

.card-group-item {
    background: white;
    padding-top: 0.5rem;
}

.card-group-item-title {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.card-group-item .img-tiny {
    margin-top: 5px;
    float: right;
}


/* 邀请粉丝 */

.invite {
    background: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.register-add {
    margin-bottom: 3rem;
}


/* 推广 */

.promote-nav {
    background: #F7F7F7;
    /* 这是特殊的灰色 */
    border-bottom: 1px solid #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.promote-nav img {
    width: 40px;
    height: 40px;
}

.promote-nav .btn-group {
    margin: 0 auto;
}

.promote-nav .btn-group .btn {
    padding-bottom: 0.5rem;
    border-color: #4C4949;
}

.promote-nav .btn-group .btn.active {
    background: #4C4949;
    color: white;
}

.promote-card {
    background: white;
    border-bottom: 1px solid #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.promote-card:first-child {
    border-top: 1px solid #ddd;
}

.promote-card .promote-time {
    color: #aaa;
    margin-bottom: 1rem;
}

.promote-card .promote-img {
    width: 50px;
    height: 50px;
    float: right;
}

.promote-card .promote-share {
    font-size: 1.6rem;
    color: #aaa;
}

.promote-card .promote-note {
    font-size: 1.7rem;
    padding-left: 0;
    color: #4C4949;
}

.promote-card .share-point {
    font-size: 1.6rem;
    margin-top: 1rem;
    color: #ff6600;
    margin-left: 1rem;
}

.promote-card .share-btn {
    padding: 0.1rem 0.3rem;
    font-size: 1.6rem;
    color: #aaa;
    border: 1px solid #4C4949;
    border-radius: 4px;
}

.promote-card .share-btn img {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -0.2rem;
}


/* 我的推广的头像部分*/

.promote-user {
    height: 55px;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    overflow: hidden;
    margin-left: 1.5rem;
    margin-top: -3px;
}

.promote-user .col-xs-3 {
    margin-left: -2rem;
    margin-right: 0;
}

.promote-user .col-xs-9 {
    padding-left: 1rem;
}

.promote-user .promote-username {
    font-size: 2rem;
    padding-top: 10px;
}


/* 社群的搜索栏 */

.search-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.search-bar button {
    bottom: 0;
    color: #aaa;
}

.search-bar .col-xs-6 {
    padding-left: 0;
    padding-right: 0;
    margin-left: -2px;
    margin-top: -2px;
}

.search-bar button,
.search-bar .input-group * {
    border: none;
}

.search-bar .col-xs-3:last-child {
    padding-left: 1.1rem;
}


/* 社群 */

.com-card {
    padding-top: 1rem;
    overflow: hidden;
}

.com-card:last-child {
    padding-bottom: 1rem;
}

.card-list-img {
    width: 33%;
    float: left;
    padding: 1px;
}

.com-card-title {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.com-card-title hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.com-card-title span {
    position: absolute;
    width: 50px;
    background: white;
    margin-left: -25px;
    top: 0;
    font-size: 1.6rem;
}


/* 元宝传媒 */

.media-card-item {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: 1rem;
}

.media-card-item>div {
    float: left;
}

.media-img {
    width: 80px;
    height: 80px;
}

.media-img img {
    width: 80px;
    height: 80px;
}

.media-card-content {
    text-wrap: nowrap;
    float: left;
    padding-left: 1rem;
}

.media-card-title {
    font-size: 1.8rem!important;
    font-weight: 600;
    color: black!important;
    margin-top: -3px;
}

.media-card-content p {
    font-size: 1.4rem;
    color: #bbb;
    margin-bottom: 1px;
}


/* 消息，右上角的小红点 */

.msg-card-group-item {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background: white;
    border-bottom: 1px solid #ddd;
}

.msg-card-group-item .col-xs-2 {
    padding-left: 1rem;
    position: relative;
}

.with-num {
    position: relative;
    width: 50px;
    height: 50px;
}

.msg-num {
    position: absolute;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 0.8rem;
    display: inline-block;
    padding: 2px;
    background: red;
    color: white;
    top: -5px;
    right: -5px;
    border-radius: 50%;
}

.msg-title {
    display: inline-block;
    padding-top: 3px;
    font-size: 1.8rem;
}

.msg-time {
    float: right;
    color: #aaa;
}

.msg-content {
    color: #aaa;
}


/* 聚宝盆的奇葩css */


/* 聚宝盆红色块 */

.well-red {
    background: #ed4930;
    color: white;
    padding: 2rem;
    border-top: 2px solid #ddd;
}

.well-red-title {
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
}

.well-red-title img {
    width: 25px;
    height: 25px;
    margin-top: -3px;
}

.well-red-content {
    margin-top: 3px;
}

.well-red-num {
    margin-top: 2rem;
    font-size: 6rem;
}


/* 聚宝盆白色块 */

.well-white {
    padding: 1.8rem;
    background: white;
    color: #aaa;
}

.well-white-num {
    font-size: 5rem;
    margin-top: 1rem;
    color: #ed4930;
}


/* 聚宝盆灰色块 */

.well-grey {
    background: #eee;
    overflow: hidden;
}

.well-grey-item {
    height: 100px;
    background: #eee;
    width: 49.6%;
    float: left;
    padding: 2rem 1.5rem;
}

.well-grey-gutter {
    width: 2px;
    position: relative;
    top: 20px;
    height: 70px;
    float: left;
    background: #ddd;
}

.well-grey-title {
    color: #aaa;
}

.well-grey-num {
    font-size: 2.4rem;
    color: #847A7A;
    margin-top: 1rem;
}


/* 聚宝盆按钮组 */

.cc-btn-group {
    width: 100%;
}

.cc-btn-group .btn-pink {
    float: left;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.cc-btn-group .btn-pink {
    width: 49.6%;
}


/* 登录 */

.login-form {
    color: #bbb;
}

.login-form .flat-form-group {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.login-form .flat-form-login-icon {
    float: left;
    margin-right: 0.5rem;
}

.login-form .flat-form-login-icon img {
    width: 36px;
    height: 36px;
    float: left;
}

.login-form .flat-form-label {
    padding-top: 0.5rem;
    font-size: 2rem;
    margin-right: 1rem;
}

.login-form .flat-input {
    padding-top: 0.5em;
    font-size: 1.8rem;
}


/* 设置 */

.setting-card {
    background: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.setting-card a {
    color: #aaa;
}

.setting-card-num {
    color: #ddd;
    margin-right: 1rem;
    font-size: 1.4rem;
}

.setting-card .glyphicon {
    margin-top: 4px;
    color: #ddd;
}

.setting-card-title {
    padding: 1.5rem 1rem;
    color: #428bca;
    border-bottom: 1px solid #ddd;
}

.setting-card-collection {
    padding-left: 1rem;
    overflow: hidden;
}

.setting-card-item {
    border-bottom: 1px solid #ddd;
    padding: 1.2rem 1rem 1.2rem 0;
}

.setting-card-item.no-border {
    border: none;
}


/* 商城 */

.mr-1rem {
    margin-right: 1rem;
}

.store-nav {
    padding-top: 0.2rem;
}

.store-nav .input-group-addon {
    height: 34.5px;
}

.store-nav img {
    width: 20px;
    margin-top: -7px
}

.store-nav-search {
    width: 70%;
    float: left;
    padding-top: 0.5rem;
}


/* 商品展示，这里用固定高度了 */

.store-card {
    background: white;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.store-card .store-card-title {
    font-size: 2rem;
    color: #ff6600;
}

.store-card .more,
.store-card .glyphicon {
    font-size: 1.6rem;
    color: #aaa;
}

.store-card .glyphicon {
    position: relative;
    top: 3px;
}

.store-card .store-card-body {
    margin-top: 1rem;
}

.store-card-body div {
    padding: 0;
}

.store-card-body {
    height: 150px;
}

.store-card-body img {
    width: 100%;
}

.store-card-body .store-img-right img {
    height: 150px;
}

.store-card-body .store-img-top img {
    height: 60px;
}

.store-card-body .store-img-bottom img {
    height: 90px;
}


/* account-change 账户变化记录的 tab页，覆盖bootstrap */

.nav.account-change {
    background: white;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
}

.account-change * {
    border: none!important;
}

.account-change li {
    width: 20%;
    border-right: 1px solid #ddd!important;
    text-align: center;
}

.account-change li a {
    border-right: 1px solid #ddd;
    padding-left: 0;
    padding-right: 0;
}

.account-change li a:hover {
    background: white;
}

.account-change li.active {
    border-bottom: 4px solid #ff6600!important;
}

.tab-content {
    background: white;
    border-top: 1px solid #ddd;
    padding: 10px 0 0 15px;
}

.tab-pane-card {
    border-bottom: 1px solid #ddd;
}


/* grey-font-color #4C4949;  orange #ff6600;  pink #ff6349 yellow #ffae29*/

.color-pink {
    color: #F05CE9;
}

.color-blue {
    color: #428bca;
}

.text-orange {
    color: #ff6600
}

.text-pink {
    color: #ff6349
}

.text-yellow {
    color: #ffae29
}

.text-grey {
    color: #aaa;
}

.nav {
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    text-align: center;
    background: #ff6600;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    /* clearfix */
}

.btn-pink,
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active:focus,
.btn-pink.active:focus,
.btn-pink.focus,
.btn-pink:active.focus,
.btn-pink.active.focus {
    color: white;
    background: #ff6349!important;
    border: 1px solid #ff6349!important;
}

.btn-grey,
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active:focus,
.btn-grey.active:focus,
.btn-grey.focus,
.btn-grey:active.focus,
.btn-grey.active.focus {
    color: #428bca;
    background: #ddd!important;
    border: 1px solid #ddd!important;
}

.btn-white,
.btn-white:hover,
.btn-white:focus,
.btn-white:active:focus,
.btn-white.active:focus,
.btn-white.focus,
.btn-white:active.focus,
.btn-white.active.focus {
    color: #3F3232;
    background: white!important;
    border: 1px solid white!important;
}


/* 表单样式 */

.notify {
    height: 20px;
    line-height: 20px;
    font-size: 1.6rem;
    color: #4C4949;
    margin: 0;
    padding: 1rem;
    padding-top: 1.2rem;
}

.form {
    margin-top: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    background: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.form .flat-input {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
}

.form .flat-input:last-child {
    border-bottom: none;
}


/* 找回密码 */

.form-group {
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.form-group .col-xs-4 {
    padding-left: 0;
}

.form-group .flat-input {
    height: 49px;
    /* 这里少一px可以防止下边框覆盖 */
}

.form-group:last-child {
    border-bottom: none;
}


/* flat form-group */

.flat-form-group {
    background: white;
    padding: 10px 15px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.flat-form-label {
    line-height: 34px;
    height: 34px;
    font-size: 1.8rem;
    float: left;
}

.flat-form-avatar {
    float: left;
    margin-right: 1rem;
    position: relative;
    top: -3px;
}

.flat-form-checkbox {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;
    top: 3px;
}

.flat-form-group .flat-input {
    float: left;
    border: none;
    height: 34px;
    line-height: 34px;
    font-size: 1.6rem;
}


/* footer */

.footer-fit {
    height: 90px;
}

.footer {
    background: white;
    height: 70px;
    width: 100%;
    position: fixed!important;
    bottom: 0;
    border-top: 1px solid #ddd;
    padding-top: 0.8rem;
    padding-bottom: 0.3rem;
    z-index: 1000;
}

.footer img {
    width: 35px;
    height: 35px;
    margin-bottom: 0.3rem;
}

.footer p {
    color: #aaa;
    font: 2rem;
}
