/*
* @Author: Administrator
* @Date:   2015-11-11 21:54:55
* @Last Modified by:   Administrator
* @Last Modified time: 2015-12-06 19:56:46
*/


/* cover bootstrap */

a {
    text-decoration: none!important;
}

.nav-icon {
    padding-top: 2px;
}

.nav-icon a {
    color: white;
}

.bor-top-1 {
    border-top: 1px solid #ccc;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs li a {
    color: #4c4949!important;
}


/* 灰色的边距 */

.gutter {
    height: 15px;
    background: #f3f3f3;
}


/* 这里我直接写在 body里了，省一大堆dom, 因为所有的页面底色都为淡灰色 */

body {
    background: #f3f3f3!important;
}

.bg-white {
    background: white!important;
}

.bg-grey {
    background: #eee!important;
}


/* grey-font-color #4C4949;  orange #ff6600;  pink #ff6349 yellow #ffae29*/

.color-pink {
    color: #f05ce9;
}

.color-blue {
    color: #428bca;
}

.text-orange {
    color: #f60;
}

.text-pink {
    color: #ff6349;
}

.text-yellow {
    color: #ffae29;
}

.text-grey {
    color: #aaa;
}

.text-black {
    color: black;
}

.f-lg {
    font-size: 1.6rem;
}

.text-lg {
    font-size: 2.5rem;
    margin-right: 1rem;
}

.bt-0 {
    border-top: none!important;
}

.bt-1 {
    border-top: 1px solid #ddd;
}

.bb-1 {
    border-bottom: 1px solid #ddd;
}

.pl-0 {
    padding-left: 0!important;
}

.pr-0 {
    padding-right: 0!important;
}

.pt-0 {
    padding-top: 0!important;
}

.mt-0 {
    margin-top: 0!important;
}

.mt-15 {
    margin-top: 15px;
}

.mb-0 {
    margin-bottom: 0!important;
}

.ml-1r {
    margin-left: 1rem;
}

.mr-10 {
    margin-right: 10px;
}

.mr-1r {
    margin-right: 1rem;
}

.mr-2r {
    margin-right: 2rem;
}

.text-delete {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.nav {
    font-size: 1.8rem;
    line-height: 50px;
    overflow: hidden;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    color: white;
    background: #f60;
}

.nav-white {
    color: black;
    border-bottom: 1px solid #ccc;
    background: white;
}

.nav-white a {
    color: black;
    background: white;
}

.btn-pink,
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active:focus,
.btn-pink.active:focus,
.btn-pink.focus,
.btn-pink:active.focus,
.btn-pink.active.focus {
    color: white;
    border: 1px solid #ff6349!important;
    background: #ff6349!important;
}

.btn-grey,
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active:focus,
.btn-grey.active:focus,
.btn-grey.focus,
.btn-grey:active.focus,
.btn-grey.active.focus {
    color: #428bca;
    border: 1px solid #ddd!important;
    background: #ddd!important;
}

.btn-white,
.btn-white:hover,
.btn-white:focus,
.btn-white:active:focus,
.btn-white.active:focus,
.btn-white.focus,
.btn-white:active.focus,
.btn-white.active.focus {
    color: #3f3232;
    border: 1px solid white!important;
    background: white!important;
}

.btn-orange-ghost {
    position: relative;
    top: -3px;
    color: #ff6349;
    border: 1px solid #ff6349;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: white;
}


/* 店铺 */


/* 店铺轮播图的 */

.shop-slider {
    padding: 1rem;
    background: white;
}

.owl-carousel .item img {
    width: 140px;
    height: 140px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.shop-slider-sm {
    padding: 0;
    background: white;
}

.owl-carousel-sm .item img {
    width: 80px!important;
    height: 80px!important;
    border: none!important;
    border-radius: 0!important;
}

.owl-carousel .item img {
    width: 140px;
    height: 140px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.shop-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    background: white;
}

.shop-img {
    position: relative;
    border-radius: 4px;
}

.shop-img img {
    display: inline-block;
    max-width: 100%;
    border-radius: 4px;
}

.shop-img-mask {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 0 0 4px 4px;
    background: rgba(49, 43, 43, .7);
}

.btn-two-level {
    display: inline-block;
    padding: 0;
    color: #ff6349;
    border: 1px solid #ff6349;
    border-radius: 4px;
}

.btn-two-level span {
    display: block;
}

.btn-two-level span:nth-child(1) {
    padding: 3px 5px;
    border-radius: 4px 4px 0 0;
    background: white;
}

.btn-two-level span:nth-child(2) {
    padding: 3px 5px;
    color: white;
    border-radius: 0 0 4px 4px;
    background: #ff6349;
}


/* 商品 */

.good-card-main {
    position: relative;
}

.good-card-title {
    font-size: 2rem;
    position: absolute;
    width: 100%;
    padding: 1rem;
    color: black;
}

.circle-icon {
    line-height: 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    text-align: center;
    color: #eee;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #7a7474;
}

.good-card-mask {
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    background: rgba(49, 43, 43, .7);
}

.good-info {
    border-top: 1px solid #ddd;
}

.good-info-title,
.good-info-foot {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: white;
}

.good-info-foot .glyphicon {
    margin-right: 1rem;
}

.good-card-content-foot {
    padding: 5px 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


/* 最新消息 */

.label-lg {
    font-size: 4rem;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    border-radius: 4px;
}

.label-green {
    background: #7ee86a;
}

.label-blue {
    background: #36eff1;
}

.label-red {
    background: #ff6349;
}

.label-orange {
    background: #ffae29;
}

.with-label {
    padding-top: 1rem!important;
    padding-bottom: .5rem;
}


/* 钱款去向 */

.money-step {
    overflow: hidden;
    padding: 30px 15px;
    background: white;
}

.money-step-item {
    display: inline-block;
    float: left;
    width: 33.3%;
    text-align: center;
}

.text-green {
    color: #2bb32b;
}

.money-step-outter {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}

.money-step-label {
    position: absolute;
    z-index: 2000;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    border: 3px solid #ddd;
    border-radius: 50%;
    background: white;
}

.money-step-label:before {
    font-family: consolas;
    font-size: 40px;
    line-height: 40px;
    content: '√';
    color: #ddd;
}

.money-step-label.active:before {
    color: #2bb32b;
}

.money-step-label.active:after {
    position: absolute;
    height: 3px;
    margin-top: 17px;
    content: '';
    background: #2bb32b;
}

.money-step-label.active {
    border: 3px solid #2bb32b;
}

.card-money-title {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    background: white;
}


/* 珠宝店 */

.card-jewelry-shop {
    margin-bottom: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: white;
}

.card-jewelry-shop-title,
.card-jewlry-shop-foot {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jewelry-well {
    position: relative;
    overflow: hidden;
    height: 120px;
}

.jewelry-well img {
    position: absolute;
    z-index: 1000;
    width: 100%;
    max-width: 100%;
}

.jewelry-content {
    position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .5);
}

.jewelry-content h3 {
    margin-bottom: 20px;
}


/* 合作伙伴 */

.partener-gutter {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #eee;
}

.partener-gutter-left {
    line-height: 30px;
}

.btn-noborder {
    border: none;
}

.partener-date-content {
    border-left: 1px solid #ddd;
}


/* 添加提现账户 */

.add-account li {
    width: 50%!important;
}


/* 购物车空白 */

.cart-notice {
    font-size: 2rem;
    color: #ccc;
}

.shopping-cart-right {
    font-size: 2rem!important;
    float: right;
}


/*取消下拉菜单的圆角*/

ul.dropdown-menu {
    border-radius: 0;
}


/* 多个图片大小在这里设置 */

.img-tiny {
    width: 40px;
    height: 40px;
}

.img-sm {
    width: 50px;
    height: 50px;
}

.img-md {
    width: 60px;
    height: 60px;
}

.img-lg {
    width: 80px;
    height: 80px;
}


/* 首页 */

.index-filter {
    position: absolute;
    z-index: 2000;
    display: none;
    width: 100%;
    padding-bottom: 5px;
    color: white;
    background: rgba(145, 145, 145, .9);
}

.index-filter-card {
    padding-bottom: 1rem;
    border-bottom: 1px solid #897d7d;
}

.index-filter-card .btn {
    min-width: 6rem;
    margin-right: 1.5rem;
}

.index-filter-confirm {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #897d7d;
}


/* 商城-分类 */

.classify-bar {
    font-size: 1.6rem;
    padding-top: 1rem;
    color: #aaa;
    background: white;
}

.classify-bar .input-group * {
    border-bottom: none;
    background: #ddd;
}

.classify-bar .input-group button,
.classify-bar .input-group .form-control {
    font-size: 1.6rem;
    border: none;
    border-bottom: none;
    box-shadow: none;
}

.classify-bar .input-group .form-control {
    height: 38px;
}

.classify-bar .input-group-btn {
    font-size: 1.6rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.classify-bar .input-group .caret {
    margin-left: .6rem;
}

.classify-bar .classify-bar-cancel {
    margin-top: .7rem;
    padding-left: 0;
}

.classify-collection {
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
}

.classify-collection > li {
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
}


/* 搜索的下拉框 */

.selector-content {
    position: absolute;
    z-index: 999;
    display: none;
    width: 100%;
    padding: 15px 0 5px 0;
    background: rgba(145, 145, 145, .9);
}

.selector-content-foot {
    margin: 15px 0 0 0;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid white;
}

.selector-content-body button {
    margin: 0 15px;
}

.close-selector {
    margin: 10px;
}

.close-selector,
.close-selector:before {
    display: inline-block;
    width: 50px;
    height: 5px;
    background: white;
}

.close-selector:before {
    content: '';
}


/* 我的 */

.my-top {
    height: 180px;
    background: url('../img/my/top-bg.png') no-repeat;
}

.my-top-avatar {
    text-align: center;
}

.my-top-fans {
    font-size: 1.6rem;
    margin-top: 70px;
    color: white;
}

.my-top-fans-num {
    font-size: 2rem;
}

.my-top-avatar-img {
    max-width: 100%;
    margin-top: 40px;
    border-radius: 50%;
}


/* 我的 九宫格 */

.selector-list {
    padding: 0;
}

.selector-list a {
    display: block;
    color: #4c4949;
}

.selector-list-item {
    padding: 1.5rem 0 .5rem 0;
    transition: all .3s ease-in-out;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.selector-list-item:hover {
    background: #eee;
}

.selector-list-item img {
    width: 46px;
    height: 40px;
    margin-bottom: .5rem;
}

.selector-list-item p {
    font-size: 1.6rem;
}


/* 个人账户*/

.countcard {
    font-size: 1.6rem;
    line-height: 80px;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

.countcard .countcard-item-action > div {
    line-height: 40px;
    height: 40px;
}

.countcard > div {
    float: left;
}

.countcard-item-img,
.countcard-item-name {
    width: 20%;
}

.countcard-item-action {
    width: 60%;
    padding-right: 15px;
}

.img img {
    height: 45px;
}


/* 个人信息*/

.userAccount-main,
.userInfo-main {
    border-top: 1px solid #ddd;
}

.userInfo-main .readable {
    letter-spacing: .5rem;
}

.userInfo-main .readable-1 {
    letter-spacing: .3rem;
}

.card-list-item.with-avatar {
    line-height: 90px;
    height: 90px;
    border-bottom: 1px solid #ddd;
}

.card-list-item {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.card-list-item .title {
    font-size: 1.8rem;
    font-weight: 600;
}

.card-list-item.with-avatar .content {
    height: 90px;
    padding-top: 10px;
}

.card-list-item .content {
    font-size: 1.8rem;
    font-weight: 600;
    color: #ccc;
}

.card-list-item .glyphicon {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.card-list-item .avatar {
    width: 70px;
    height: 70px;
}


/* 传播链*/

.card-list {
    border-top: 1px solid #ddd;
}

.card-list .card-title {
    color: black!important;
}

.card-list .col-xs-9 {
    font-size: 1.6rem;
    color: #aaa;
}

.tc-user {
    height: 80px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
}

.tc-user .avatar-2 {
    height: 50px;
}

.tc-user .username {
    font-size: 2rem;
    font-weight: 600;
}

.tc-user .userid {
    font-size: 1.5rem;
}

.tc-user .glyphicon {
    padding-top: 15px;
    color: #bbb;
}

.tc-fans .col-xs-6 {
    font-size: 1.8rem;
    padding-top: 1rem;
    text-align: center;
    color: #bbb;
    border-right: 1px solid #ddd;
}

.tc-fans .col-xs-6 span {
    margin-bottom: .5rem;
}

.tc-icons {
    width: 40px;
    height: 40px;
}

.card-list-item .avatar-2 {
    line-height: 60px;
    height: 60px;
    margin-top: 5px;
}

.card-list-item .col-xs-7 {
    font-size: 1.6rem;
    color: black;
}


/* 查看下游 */

.card-group {
    margin-bottom: 1rem;
}

.card-group-item {
    border-bottom: 1px solid #ddd;
}

.card-group .col-xs-7,
.card-group .col-xs-2 {
    padding-left: 0;
}

.card-group-title {
    font-size: 2rem;
}

.card-group-item {
    padding-top: .5rem;
    background: white;
}

.card-group-item-title {
    font-size: 1.6rem;
    margin-top: .5rem;
    margin-bottom: 0;
}

.card-group-item .img-tiny {
    float: right;
    margin-top: 5px;
}


/* 邀请粉丝 */

.invite {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: white;
}

.register-add {
    margin-bottom: 3rem;
}


/* 推广 */

.promote-nav {
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
}

.promote-nav img {
    width: 40px;
    height: 40px;
}

.promote-nav .btn-group {
    padding-top: 3px;
}

.promote-nav .btn-group .btn {
    border-color: #f60;
}

.promote-nav .btn-group .btn.active {
    color: white;
    background: #f60;
}

.promote-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #ddd;
    background: white;
}

.promote-card .promote-time {
    margin-bottom: 1rem;
    color: #aaa;
}

.promote-card .promote-img {
    float: right;
    width: 50px;
    height: 50px;
}

.promote-card .promote-share {
    font-size: 1.6rem;
    color: #aaa;
}

.promote-card .promote-note {
    font-size: 1.7rem;
    padding-left: 0;
    color: #4c4949;
}

.promote-card .share-point {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #f60;
}

.promote-card .share-btn {
    font-size: 1.6rem;
    padding: .1rem .3rem;
    color: #aaa;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.promote-card .share-btn img {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -.2rem;
}


/* 我的推广的头像部分*/

.promote-user {
    overflow: hidden;
    height: 55px;
    margin-top: -3px;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    border-bottom: 1px solid #ddd;
}

.promote-user .col-xs-3 {
    margin-right: 0;
    margin-left: -1rem;
}

.promote-user .col-xs-9 {
    padding-left: 1rem;
}

.promote-user .promote-username {
    font-size: 2rem;
    padding-top: 10px;
}


/* 社群的搜索栏 */

.search-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.search-bar button {
    bottom: 0;
    color: #aaa;
}

.search-bar .col-xs-4 {
    padding-right: 0!important;
}

.search-bar .col-xs-5 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.search-bar .input-group {
    margin-top: -2px;
}

.search-bar .btn,
.search-bar .input-group * {
    border: none;
}

.search-bar .col-xs-3:last-child {
    padding-left: 1.1rem;
}


/* 社群 */

.com-card {
    overflow: hidden;
    padding-top: 1rem;
}

.com-card:last-child {
    padding-bottom: 1rem;
}

.card-list-img {
    float: left;
    width: 33%;
    padding: 1px;
}

.com-card-title {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
    text-align: center;
}

.com-card-title hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #bbb;
}

.com-card-title span {
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    width: 50px;
    margin-left: -25px;
    background: white;
}


/* 元宝传媒 */

.media-card-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    background: white;
}

.media-card-item .col-xs-3 {
    padding-right: 0;
    padding-left: 5px;
}

.media-card-item .col-xs-9 {
    padding-right: 0;
    padding-left: 10px;
}

.media-img {
    width: 75px;
    height: 75px;
}

.media-card-title {
    font-size: 1.6rem!important;
    font-weight: 600;
    margin-top: -3px;
    color: black!important;
}

.media-card-content p {
    font-size: 1.3rem;
    margin-bottom: 2px;
    color: #bbb;
}


/* 消息，右上角的小红点 */

.msg-card-group-item {
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ddd;
    background: white;
}

.msg-card-group-item .col-xs-2 {
    position: relative;
    padding-left: 1rem;
}

.with-num {
    position: relative;
    width: 50px;
    height: 50px;
}

.msg-num {
    font-size: .8rem;
    line-height: 14px;
    position: absolute;
    top: -5px;
    right: -5px;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 2px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: red;
}

.msg-title {
    font-size: 1.8rem;
    display: inline-block;
    padding-top: 3px;
}


/* 聚宝盆的奇葩css */


/* 聚宝盆红色块 */

.well-red {
    padding: 2rem;
    color: white;
    background: #ed4930;
}

.well-red-title {
    font-size: 2rem;
    line-height: 2rem;
    height: 2rem;
}

.well-red-title img {
    width: 25px;
    height: 25px;
    margin-top: -3px;
}

.well-red-content {
    margin-top: 3px;
}

.well-red-num {
    font-size: 6rem;
    margin-top: 2rem;
}


/* 聚宝盆白色块 */

.well-white {
    padding: 1.8rem;
    color: #aaa;
    background: white;
}

.well-white-num {
    font-size: 5rem;
    margin-top: 1rem;
    color: #ed4930;
}


/* 聚宝盆灰色块 */

.well-grey {
    overflow: hidden;
    padding-bottom: 1rem;
    background: #eee;
}

.well-grey-item {
    float: left;
    width: 49.6%;
    height: 100px;
    padding: 2rem 1.5rem;
    background: #eee;
}

.well-grey-gutter {
    position: relative;
    top: 20px;
    float: left;
    width: 2px;
    height: 70px;
    background: #ddd;
}

.well-grey-title {
    color: #aaa;
}

.well-grey-num {
    font-size: 2.4rem;
    margin-top: 1rem;
    color: #847a7a;
}


/* 聚宝盆按钮组 */

.cc-btn-group {
    width: 100%;
}

.cc-btn-group .btn-pink {
    float: left;
    border-radius: 0;
}

.cc-btn-group .btn-pink {
    width: 49.6%;
}


/* 登录 */

.login-form {
    color: #bbb;
}

.login-form .flat-form-group {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.login-form .flat-form-login-icon {
    float: left;
    margin-right: .5rem;
}

.login-form .flat-form-login-icon img {
    float: left;
    width: 36px;
    height: 36px;
}

.login-form .flat-form-label {
    font-size: 2rem;
    margin-right: 1rem;
    padding-top: .5rem;
}

.flat-form-confirm {
    padding-bottom: 5px;
    color: #aaa;
}

.label-red {
    background: #ff6349;
}

.login-form .flat-input {
    font-size: 1.8rem;
    padding-top: .5em;
}


/* 设置 */

.setting-card {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: white;
}

.setting-card a {
    color: #aaa;
}

.setting-card-num {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: #ddd;
}

.setting-card .glyphicon {
    margin-top: 4px;
    color: #ddd;
}

.setting-card-title {
    padding: 1.5rem 1rem;
    color: #428bca;
    border-bottom: 1px solid #ddd;
}

.setting-card-collection {
    overflow: hidden;
    padding-left: 1rem;
}

.setting-card-item {
    padding: 1.2rem 1rem 1.2rem 0;
    border-bottom: 1px solid #ddd;
}

.setting-card-item.no-border {
    border: none;
}


/* 商城 */

.store-nav {
    padding-top: .2rem;
}

.store-nav img {
    width: 20px;
    margin-top: -7px;
}

.store-nav-search {
    float: left;
    width: 70%;
    padding-top: .5rem;
}


/* 商品展示，这里用固定高度了 */

.store-card {
    margin-bottom: 1rem;
    padding-top: 1rem;
    background: white;
}

.store-card .store-card-title {
    font-size: 2rem;
    color: #f60;
}

.store-card .more,
.store-card .glyphicon {
    font-size: 1.6rem;
    color: #aaa;
}

.store-card .glyphicon {
    position: relative;
    top: 3px;
}

.store-card .store-card-body {
    margin-top: 1rem;
}

.store-card-body div {
    padding: 0;
}

.store-card-body {
    height: 150px;
}

.store-card-body img {
    width: 100%;
}

.store-card-body .store-img-right img {
    height: 150px;
}

.store-card-body .store-img-top img {
    height: 60px;
}

.store-card-body .store-img-bottom img {
    height: 90px;
}


/* account-change 账户变化记录的 tab页，覆盖bootstrap */

.nav.account-change {
    height: 46px;
    padding-right: 0;
    padding-left: 0;
    border-right: none;
    background: white;
}

.account-change * {
    font-size: 1.6rem;
    border: none!important;
}

.account-change li {
    width: 19%;
    text-align: center;
    border-right: 1px solid #ddd!important;
}

.account-change li:nth-child(5) {
    width: 24%;
    border-right: none!important;
}

.account-change li a {
    padding-right: 0;
    padding-left: 0;
}

.account-change li.active {
    border-bottom: 4px solid #f60!important;
}

.tab-content {
    border-top: 1px solid #ddd;
    background: white;
}

.tab-content-grey {
    padding-top: 80px;
    background: #f3f3f3;
}

.tab-pane-card {
    border-bottom: 1px solid #ddd;
}


/* 内容详情 */

.hongbao-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ccc;
    background: white;
}

.hongbao-footer-gutter {
    height: 80px;
}

.complex-input-orange {
    line-height: 34px;
    display: inline-block;
    height: 34px;
    padding: 0 3px;
    color: white;
    border: 1px solid #ffae29;
    border-radius: 4px;
    background: #ffae29;
}

.complex-input-green {
    line-height: 34px;
    display: inline-block;
    height: 34px;
    padding: 0 3px;
    color: white;
    border: 1px solid #6ecc66;
    border-radius: 4px;
    background: #6ecc66;
}

.complex-input-num {
    display: inline-block;
    height: 32px;
    padding: 0 3px;
    color: #aaa;
    background: white;
}

.comment {
    border-top: 1px solid #ddd;
}

.comment .comment-btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 15px 0 5px;
    color: white;
    border-radius: 0 20px 20px 0;
    background: #428bca;
}

.comment-card {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.comment-card .comment-username {
    margin-bottom: 0;
    color: #428bca;
}

.comment-card .comment-date {
    font-size: .8em;
    color: #bbb;
}


/* 我的订单 */

.card-info {
    border-bottom: 1px solid #ddd!important;
    background: white!important;
}

.tab-order-form {
    padding: 0!important;
}

.card-logistics {
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}

.all-order-form {
    background: #f3f3f3!important;
}

.card-order {
    overflow: hidden;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    background: white;
}

.card-order > div {
    padding: 10px 15px;
    border-top: 1px solid #ccc;
}

.card-order .card-order-body {
    overflow: hidden;
}

.card-order .card-order-body > div {
    float: left;
}

.card-order .card-order-body .card-item-img img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.card-order .card-order-body .card-item-info p {
    margin-bottom: 0;
}

.card-order .card-order-foot .btn {
    position: relative;
    top: -5px;
}

.card-order .card-order-foot .glyphicon {
    font-size: 2rem;
    margin-left: 5px;
}


/* 物流详情的步骤图 */


/* 及得最后一个要加 lagistics-label-last */

.card-logistics-info {
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}

.card-logistics-info-item {
    overflow: hidden;
    height: 80px;
}

.logistics-label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
}

.logistics-label:after {
    position: absolute;
    top: 20px;
    width: 2px;
    height: 80px;
    margin-left: 9px;
    content: '';
    background: #ddd;
}

.logistics-label.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
}

.logistics-label.active:after {
    position: absolute;
    top: 20px;
    width: 2px;
    height: 80px;
    margin-left: 9px;
    content: '';
    background: green;
}

.logistics-label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
}

.logistics-label:after {
    position: absolute;
    top: 20px;
    width: 2px;
    height: 80px;
    margin-left: 9px;
    content: '';
    background: #ddd;
}

.logistics-label.logistics-label-last:after {
    content: none;
}


/* 填写地址*/

.address-card {
    padding: 10px 15px 7px;
    border-bottom: 1px solid #ccc;
    background: white;
}

.address-card > div {
    float: left;
}

.address-card div.address-modification {
    float: right;
    margin-top: 22px;
    color: #aaa;
}

.address-card div p {
    margin-bottom: 3px;
}

.address-card div.address-notify {
    margin-right: 5px;
    color: #f60;
}

.address-card div p.shipping-address {
    font-size: .8em;
}

.footer-new-address {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: white;
}


/* 分享 */

.card-share {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
}


/* 购物车 */

.shopping-cart-top {
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    background: white;
}

.shopping-cart-top .glyphicon-map-marker {
    font-size: 2rem;
    position: absolute;
    top: 10px;
}

.shopping-cart-top a {
    position: relative;
}

.shopping-cart-top .glyphicon-menu-right {
    position: relative;
    top: 7px;
}

.shopping-cart-edit {
    display: inline-block;
    margin-left: 30px;
}

.card-shopping-cart {
    margin-top: 15px;
    background: white;
}

.card-shopping-cart input[type='radio'] {
    position: relative;
    top: -5px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.shopping-cart-shop {
    border-top: 1px solid #ddd;
    background: white;
}

.shopping-cart-item {
    overflow: hidden;
    min-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    background: white;
}

.shopping-cart-item .shopping-cart-item-info {
    overflow: hidden;
    max-width: 40%;
}

.shopping-cart-item .text-yellow {
    margin-right: -.5rem;
}

.shopping-cart-item .glyphicon-trash {
    font-size: 2rem;
    margin-top: 15px;
}

.shopping-cart-count {
    display: inline-block;
    border: 1px solid #ccc;
}

.shopping-cart-count * {
    margin: 0;
    text-align: center;
}

.shopping-cart-count span {
    line-height: 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0;
}

.shopping-cart-count span:nth-child(1) {
    border-right: 1px solid #ccc;
}

.shopping-cart-count span:nth-child(3) {
    color: #ffae29;
    border-left: 1px solid #ccc;
}

.shopping-cart-count input {
    top: 0;
    width: 20px;
    height: 20px;
    margin-left: 0;
    border: none;
}

.shopping-cart-foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 15px 5px 15px;
    background: white;
}

.shopping-cart-foot .checkbox {
    margin-top: 8px;
}

.shopping-cart-foot input {
    width: 20px;
    height: 20px;
    margin-top: 0;
}


/* 表单样式 */

.form {
    margin-top: 2rem;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: white;
}

.flat-input-group {
    padding: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: white;
}

.form .flat-input {
    font-size: 1.6rem;
    line-height: 50px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.form .flat-input:last-child {
    border-bottom: none;
}

.form .form-group-textarea {
    height: 100px!important;
}

.form .flat-textarea {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    height: 80px;
    margin-top: 12px;
    resize: none;
    border: none;
}


/* 找回密码 */

.form-group {
    font-size: 1.6rem;
    height: 50px;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}

.form-group .col-xs-4 {
    padding-left: 0;
}

.form-group .flat-input {
    height: 49px;
    /* 这里少一px可以防止下边框覆盖 */
}

.form-group:last-child {
    border-bottom: none;
}


/* flat form-group */

.form-label {
    line-height: 50px;
}

.flat-form-group {
    overflow: hidden;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    border-bottom: 1px solid #ddd;
    background: white;
}

.flat-form-label {
    font-size: 1.8rem;
    line-height: 34px;
    height: 34px;
}

.flat-form-avatar {
    position: relative;
    top: -3px;
    float: left;
    margin-right: 1rem;
}

.flat-form-checkbox {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.flat-form-group .flat-input {
    font-size: 1.6rem;
    line-height: 34px;
    height: 34px;
    border: none;
}


/* footer */

.footer-fit {
    height: 90px;
}

.footer {
    position: fixed!important;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: .8rem;
    padding-bottom: .3rem;
    border-top: 1px solid #ddd;
    background: white;
}

.footer img {
    width: 35px;
    height: 35px;
    margin-bottom: .3rem;
}

.footer p {
    font: 2rem;
    color: #aaa;
}
